<article class="card{{ modifier ? ' ' ~ modifier }}">
  {% if image %}
    <div class="card__image">
      <figure>
        {{ image }}
      </figure>
    </div>
  {% endif %}

  <div class="card__content">

    {{ include('emc:title', {
        text: content,
        level: 3,
        title: label,
      })
    }}

    {% block card_body %}
      <p class="card__teaser">{{ body.text }}</p>
    {% endblock %}

  </div>
</article>
